* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header Style */
.header {
  padding: 20px;
  background-color: orange;
  text-align: center;
}

/*Create the three main panels */
.column {
  padding-left: 10px;
  float: left;
  text-align: center;
}

.column.side {
  width: 15%;
  background-color: tomato;
  }

.column.middle {
  width: 70%;
  background-color: lightgreen;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Create space for appLabel */
.appLabel {
  max-width: 100%;
  float: left;
  text-align: center;
}

/* Create space for footer */
.footer {
  max-width: 100%;
  float: left;
  background-color: blue;
  text-align: left;
}

/* Get max screen width */
@media screen and (max-width: 600px) {
.column.side, .column.middle {
    width: 100%;
  }
}
