* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header Style */
.header {
  padding: 20px;
  background-color: orange;
  text-align: center;
}

/*Create the three main panels */
.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 15%;
  background-color: tomato;
  }

.column.middle {
  width: 70%;
  background-color: lightgreen;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Create space for appLabel */
.appLabel {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Create space for footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Get max screen size */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
